
@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}

<h2>Kontakt</h2>

<article>
Placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor 
mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus 
aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia aliquam posuere, sapien 
elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget.
</article>
